
.container2 {
    background-color: rgb(165, 227, 216);
    border: 1px solid #1a1818;
    width: 50vh;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.5;
}

table {
    width: 70vh;
    border-collapse: collapse;
    text-align: right;
}
th {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.897);
}
 td {
    padding: 20px;
    border-bottom: 1px solid rgba(70, 240, 243, 0.897);
}
button {
    background-color: rgb(198, 215, 215);
    padding-top: 7px;
}

.container1 {
    background-color: #f3f3b0;
    border: 1px solid #1a1818;
    width: 70vh;
    margin: 20px auto;
    padding: 30px;
    line-height: 1.5;
}
